html,
body {
    margin: 0;
    background-color: #f4f5f7;

    #app {
        font-family: 'Roboto', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;

        .wrapper {
            margin: 0 auto;
            max-width: 1020px;
            padding: 0 8px;

            @media screen and (max-width: 600px) {
                max-width: 100%;
                padding: 0 16px;
            }
        }

        input {
            &:focus {
                outline: none;
            }
        }
    }
}